.container {
  background-image: url('https://previews.123rf.com/images/malven/malven1411/malven141100023/33261835-la-textura-de-fondo-de-tela-sint%C3%A9tica-con-fibras-entrecruzadas-de-color-celeste.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto centra verticalmente en la página */
}

.content {
  text-align: center; /* Esto centra horizontalmente el contenido */
}

.card-img-top{
  width: 100%;
  height: 28vw;
  object-fit: scale-down;
}