body {
  background-image: url("https://previews.123rf.com/images/malven/malven1411/malven141100023/33261835-la-textura-de-fondo-de-tela-sint%C3%A9tica-con-fibras-entrecruzadas-de-color-celeste.jpg");
  background-size: cover;
}
.container {
  padding-bottom: 100px;
  background-color: rgb(166, 208, 218);
  margin-top: 100px;
  padding: 50px;
  min-width: 400px;
}
h1 {
  color: rgb(0, 9, 128);
  text-shadow: 3px 3px white;
  text-align: center;
}
.containerFooter {
  padding-top: 100px;
}
.redes {
  margin: 25px;
}
.redes i {
  margin-right: 25px;
  color: rgb(6, 69, 128);
  font-size: 30px;
}

.redes i:last-child {
  margin-right: 0; /* Elimina el margen derecho del último icono */
}
.logo-img {
  width: 50px;
  height: auto; /* Esto mantendrá la proporción de la imagen */
}
