<body>
  <h1>HACE AQUÍ TU CONSULTA!!! 📢</h1>
<div class="container">
  <form [formGroup]="formularioContacto" (ngSubmit)="enviar()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        [ngClass]="{
          'is-invalid':
            hasErrors('nombre', 'required') || hasErrors('nombre', 'minlength')
        }"
        type="text"
        class="form-control"
        id="name"
        formControlName="nombre"
      />
      <div class="text-danger" *ngIf="hasErrors('nombre', 'required')">
        Nombre Requerido.
      </div>
      <div class="text-danger" *ngIf="hasErrors('nombre', 'minlength')">
        Nombre requiere minimo 3 caracteres.
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Apellido</label>
      <input
        [ngClass]="{
          'is-invalid':
            hasErrors('apellido', 'required') ||
            hasErrors('apellido', 'minlength')
        }"
        type="text"
        class="form-control"
        id="name"
        formControlName="apellido"
      />
      <div class="text-danger" *ngIf="hasErrors('apellido', 'required')">
        apellido Requerido.
      </div>
      <div class="text-danger" *ngIf="hasErrors('apellido', 'minlength')">
        apellido requiere minimo 3 caracteres.
      </div>
    </div>
    <div class="mb-3">
        <label for="tipoDni" class="form-label">Tipo de DNI:</label>
      <select class="form-select" id="tipoDni" formControlName="tipoDni">
        
        <option value="DNI">DNI</option>
        <option value="Cedula">Cedula</option>
        <option value="Pasaporte">Pasaporte</option>
      </select>
    </div>

   
    <div class="mb-3">
      <dni-input [tipoDni] = "tipoDni"/>
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input
        [ngClass]="{
          'is-invalid':
            hasErrors('nombre', 'required') || hasErrors('email', 'email')
        }"
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="text-danger" *ngIf="hasErrors('email', 'email')">
      Email Invalido.
    </div>
    <div class="text-danger" *ngIf="hasErrors('email', 'required')">
      Email Requerido.
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
<footer>
  <div class="containerFooter">
    <div class="card text-center">
  <div class="card-header">
    Limpieza Burbujas 🫧
  </div>
  <div class="card-body">
    <h5 class="card-title">Productos básicos de limpieza que no pueden faltar en tu casa</h5>
    <p class="card-text">Antes de limpiar debes asegurarte de tener todo lo que necesitas a mano para facilitarte la tarea. Conoce los productos básicos de limpieza que necesitas para sacar mejores resultados. </p>
    <h5 class="card-title">Seguinos en nuestras redes</h5>
    <div class="redes">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-messenger"></i>
      <i class="bi bi-whatsapp"></i>
    </div>
    <a href="#" class="btn btn-success">Volver al Inicio</a>
  </div>
  <div class="card-footer text-body-secondary">
    <small>&copy; 2023 <b>Limpiza Burbujas</b> - Todos los Derechos Reservados</small>
  </div>
</div>
  </div>
</footer>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</body>

