
<body>
  

<div class="container">
 
   <h1>Productos de Limpieza</h1>
   <div class="table-responsive  ">
   <div style="max-width: 100%; overflow: auto;">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="d-none d-sm-table-cell">Producto</th>
      <th scope="col"></th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <th scope="row">{{product.id}}</th>
      <td class=" d-none d-sm-table-cell" >{{product.title}}</td>
       <td class="col-4 col-md-3"><img [src]="product.image" alt="{{ product.title }}" style="max-width: 70px; max-height: 80px;"></td>
      <td class="col-4 col-md-1"[ngClass]="{'red': product.price > 200}">{{product.price | currency}}</td>
      <td>

      <button
        type="button"
        class="btn btn-outline-primary "
        [routerLink]="['/products', product.id]"
      >
        Detalle
      </button>
    </tr>
   
  </tbody>
</table>
  
  </div>

 </div>

</div>
 <footer>
    <div class="containerFooter " >
      <div class="card text-center ">
        <div class="card-header bg-primary">HOMESHOP  <img src="https://img.freepik.com/vector-premium/carrito-compras-e-icono-inicio-diseno-logotipo-tienda-articulos-hogar_567423-398.jpg" alt="logo" class="logo-img"></div>
        <div class="card-body">
          <h2 class="card-title">
            HOMESHOP
          </h2>
          <p class="card-text">
          HOMESHOP el local de artículos del hogar que trae su propuesta de calidad.
La cadena llegó para instalarse en la ciudad con sus grandes precios y calidad en el servicio.
          </p>
          <h5 class="card-title">Seguinos en nuestras redes</h5>
          <div class="redes">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-messenger"></i>
            <i class="bi bi-whatsapp"></i>
          </div>
          <a href="#" class="btn btn-primary">Volver al Inicio</a>
        </div>
        <div class="card-footer bg-primary ">
          <small
            >&copy; 2023 <b>HOMESHOP</b> - Todos los Derechos
            Reservados</small
          >
        </div>
      </div>
    </div>
  </footer>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
  />
  </body>